.container {
  text-align: center;
  margin-top: 10px;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('./image1/image1.jpeg');
  background-size:cover ;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}
.card {
  margin: 30px auto;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fffacd;
}
.main-heading {
  color: #ff6600;
}
.sub-heading{
  color:#ffff00
  
}
